- var title = '游客反馈';
- var navIndex = 3;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav

    .wrapper.col3
        #container
            #content

                each item in feedbacks
                    article.format-standard.type-post.hentry.clearfix
                        header.clearfix
                            h3.post-title
                                a(href='visitorFeedback/'+item.id)= item.title
                            .post-meta.clearfix

                                - var type
                                - if(item.type == "0")
                                -   type = "其他"
                                - if(item.type == "1")
                                -   type = "网站界面"
                                - if(item.type == "2")
                                -   type = "网站内容"
                                - if(item.type == "3")
                                -   type = "教学安排"

                                span= type
                                span= (item.status == 1) ? '已解决' : '未解决'
                                <!--solve函数调用不了，bug，尴尬-->
                                input(name='submit', type='button', onclick="solve(#{item.id})", style='visibility:'+((item.status == 1)? 'hidden;' : 'visible;'), value='设为已解决')
                        p!= item.content.substr(0, 50)
                            | ...
                            a.readmore-link(href='visitorFeedback/'+item.id) Read more
                
                //#pagination
                    //TODO
                    a.btn.active(href='#') 1
                    a.btn(href='#') 2
                    a.btn(href='#') 3
                    a.btn(href='#') Next »
                    a.btn(href='#') Last »
            #column
                .subnav(style='position: fixed')
                    h2 游客反馈
                    ul
                        li
                            a(href='visitorFeedback') 反馈列表
            .clear
    script.
        function solve(id) {
            var path = '/admin/visitorFeedback/'+id;
            alert(path);
            $.post(path, {

            }, function (data) {
                if(data.code == 0){
                    alert("操作失败");
                }
            })
        }

    include ../components/footer
