- var title = '作业模块';
- var navIndex = 4;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content(style='height: 350px;')
                h1 #{section}班级作业批改
                table(summary='Summary Here', cellpadding='0', cellspacing='0')
                    thead
                        tr
                            th 作业编号
                            th 作业名称
                            th 提交人数
                            th 截止日期
                            th 操作
                    tbody
                        each item, index in homeworks
                            tr(class= (index%2==0) ? 'dark' : 'light')
                                td= index+1
                                td= item.title
                                td= item.submitNum
                                td= item.due_time.toLocaleString()
                                td
                                    a(href="correct/"+item.id) 开始批改
            #column
                .subnav(style='position: fixed;')
                    h2 作业模块
                    ul
                        li
                            a(href='list') 作业列表
                        li
                            a(href='correct') 作业批改
                        li
                            a(href='duplicate') 作业查重
            .clear
            <script src="/jquery-3.1.1.js"></script>
    include ../components/footer