- var title = '课程介绍';
- var navIndex = 1;

doctype html
include components/head
div
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1(id='课程简介') 课程简介
                div !{description}
                
                h2(id='教学日历') 教学日历
                div !{plan}

                h1(id='教学背景') 教学背景
                div !{background}
                
                h1(id='考核方式') 考核方式
                div !{assess}
                
                h1(id='使用教材') 使用教材
                div !{textbook}
                
                h1(id='大作业介绍') 大作业介绍
                div !{homework}
                
                h1(id='基础要求') 基础要求
                div !{basic}
                
            #column
                .subnav(style='position: fixed')
                    h2 课程介绍
                    ul
                        li
                            a(href='#课程简介') 课程简介
                        li
                            a(href='#教学日历') 教学日历
                        li
                            a(href='#教学背景') 教学背景
                        li
                            a(href='#考核方式') 考核方式
                        li
                            a(href='#使用教材') 使用教材
                        li
                            a(href='#大作业介绍') 大作业介绍
                        li
                            a(href='#基础要求') 基础要求
            .clear
    include ../components/footer
