- var title = '作业模块';
- var navIndex = 4;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            h1 本班作业列表
            table(summary='Summary Here', cellpadding='0', cellspacing='0')
                thead
                    tr
                        th 作业编号
                        th 作业名称
                        th 作业说明
                        th 附件
                        th 发布时间
                        th 截止日期
                        th 提交状态
                        th 批改状态
                        th 操作
                tbody
                    each homework, index in homeworks
                        tr.hw-item(class=(index%2 == 0) ? 'dark':'light' )
                            td.hw-id(style="display: none;")= homework.id
                            td= index+1
                            td= homework.title
                            td= homework.content
                            td= homework.name
                            td= homework.post_time.toLocaleString()
                            td= homework.due_time.toLocaleString()
                            td(style="color: red")= homework.status
                            td(style="color: red").
                                #{homework.score == -1 ? '未批改' : '已批改'}
                                #{homework.score == -1 ? '' : ('分数: '+homework.score+'，评价: '+homework.comment)}
                            td
                                div
                                    button 下载作业说明
                                input.file(type="file" name="file")
                                button.upload 提交作业
            .clear
            <script src="/jquery-3.1.1.js"></script> 
            script.
                $('.hw-item').each(function(i, e) {
                    var upload = $(e).find('.upload');
                    var hwID = $(e).find('.hw-id').html();
                    upload.click(function() {
                        var fd = new FormData();    
                        var file = $(e).find('.file')[0].files[0];
                        if (!file) {
                            alert('请选择文件');
                            return;
                        }
                        fd.append('file', file);
                        fd.append('hwID', hwID);
                        $.ajax({
                            url: '/student/homework',
                            data: fd,
                            processData: false,
                            contentType: false,
                            type: 'POST',
                            success: function(data){
                                alert(data.msg);
                                if (data.code == 1)
                                    window.location.reload();
                            }
                        });
                    })
                });
    include ../components/footer